.container {
    width: 1110px;
    margin: 0 auto;
}

header {
    background: #012D63;
}

.header-box {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-list {
    display: flex;
    gap: 20px;
}


.header-text {
    color: #C7C7C7;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
}

.header-text:hover {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}


.language-list {
    display: flex;
    align-items: center;
    gap: 15px;
}

.language-link {
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 24px;
    font-weight: 300;
    line-height: normal;
}

.language-link:hover {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.hero {
    background-image: url(../img/hero-back.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 94px;
    padding-bottom: 183px;
}

.hero-shop:nth-child(2) {
    padding-left: 31px;
}

.hero-shop {
    color: #FFF;
    font-family: PT Serif;
    font-size: 48px;
    font-weight: 400;
    line-height: normal;
    margin-top: -38px;
}

.hero-img {
    width: 160px;
    height: 120px;
    padding-left: 6px;
}

.hero-title {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 144px;
    font-weight: 400;
    line-height: normal;
    margin-top: -25px;
    margin-left: -8px;
}

.subtitle {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 72px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 12px;
    margin-top: -36px;
}

.hero-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 41px;
    margin-right: 664px;
}

.hero-btn {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: normal;
    width: 254px;
    height: 67px;
    flex-shrink: 0;
    border-radius: 10px;
    background: #8E32C6;
}

.about {
    background-image: url(../img/about-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 100px 0;
}


.about-list {
    outline: solid #8E32C6;
    padding: 25px 50px;
}

.about-title1 {
    text-align: center;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin-right: 90px;
    text-align: center;
    margin-bottom: 6px;
    margin-left: 41px;
}

.about-title2 {
    text-align: center;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    margin-right: 134px;
    text-align: center;
    margin-bottom: 6px;
    margin-left: 45px;
}

.about-title3 {
    text-align: center;
    color: #FFF;
    font-family: Playfair Display;
    font-size: 36px;
    font-weight: 400;
    line-height: normal;
    text-align: center;
    margin-bottom: 6px;
    margin-right: 45px;
}

.about-list {
    display: flex;
    gap: 95px;
}

.about-item:not(:last-child):after {
    display: flex;
    flex-direction: row;
    width: 1px;
    height: 346px;
    background: #FFF;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    content: "";
}

.about-item {
    position: relative;
}

.reviews {
    background-image: url(../img/reviews-flower.png), url(../img/back-reviews.jpg);
    background-repeat: no-repeat;
    background-size: 226px 380px, cover;
    background-position: 0 bottom, center;
    padding-top: 25px;
    padding-bottom: 143px;
}

.reviews-title {
    color: #FFF;
    text-align: center;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 24px;
}

.reviews-list-title {

    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    display: flex;
    flex-wrap: wrap;
}

.reviews-list-title1 {
    width: 228px;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    margin-right: 9px;
    display: flex;
    flex-wrap: wrap;
}

.reviews-list-title2 {
    width: 228px;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 8px;
    margin-right: 9px;
    display: flex;
    flex-wrap: wrap;
}


.list-text {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-subtitle {
    color: #FFF;
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 1px;
}


.list-subtext {
    color: #D8D8D8;
    font-family: Roboto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.list-box {
    display: flex;
    margin-top: 47px;
}

.list-subbox {
    margin-left: 5px;
}

.reviews-list {
    display: flex;
    justify-content: center;
    gap: 125px;
}

.reviews-item1 {
    width: 228px;
    border-radius: 15px;
    background: linear-gradient(137deg, #00E5E6 7.29%, #00A8F7 26.04%, #9A76F9 62.5%, #CC5EC2 100%);
    box-shadow: 0px 14px 0px -5px #7B54B2, 0px 30px 0px -13px #533978;
    padding: 49px 14px 29px 13px;
}

.reviews-item2 {
    width: 228px;
    border-radius: 15px;
    background: linear-gradient(137deg, #FF68B4 0%, #FF45E1 26.04%, #CE3AFF 62.84%, #8961FF 100%);
    box-shadow: 0px 14px 0px -5px #9159B1, 0px 30px 0px -13px #61337C;
    padding: 49px 0px 29px 18px;
}

.reviews-item3 {
    width: 228px;
    border-radius: 15px;
    background: linear-gradient(143deg, #FFE128 0%, #FF9B5C 30.21%, #FF8381 63.29%, #FF5489 100%);
    box-shadow: 0px 14px 0px -5px #B95A4C, 0px 30px 0px -13px #732F26;
    padding: 49px 9px 29px 18px;
}

.order {
    background-image: url(../img/order-back.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 21px 0 37px;
}

.order-submit-box {
    display: flex;
    justify-content: center;
    position: relative;
    width: 690px;
}

.order-confirm-btn {
    position: absolute;
    margin-right: 78px;
    top: 0;
    right: 0;
    color: #8D8D8D;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: none;
    margin-top: 13px
}

.order-titile {
    color: #FFF;
    font-family: Playfair Display;
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 33px;
    text-align: center;
}

.big-order-inp {
    width: 690px;
    height: 60px;
    border-radius: 50px;
    background: #FFF;
    padding-left: 25px;
    display: flex;
    justify-content: center;
}

.big-order-inp::placeholder {
    color: #959595;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.order-inp {
    width: 580px;
    height: 50px;
    border-radius: 50px;
    background: #FFF;
    padding-left: 24px;
}

.order-inp::placeholder {
    color: #959595;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    display: flex;
    align-items: center;
}

.order-btn {
    width: 248px;
    height: 68px;
    border-radius: 16px;
    background: #8E32C6;
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 19px;
}

.order-btn-box {
    display: flex;
    justify-content: center;
}

.order-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 19px;
}

footer {
    background: #021635;
    padding-bottom: 50px;
}

.footer-list-box {
    display: flex;
    gap: 373px;
    padding: 45px 0 20px;
}

.guestion-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.link-text {
    color: #FFF;
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-decoration-line: underline;
}

.footer-subtitle {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 7px;
    margin-top: 24px;
}

.footer-subtext {
    color: #FFF;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.footer-shop-title {
    color: #FFF;
    font-family: PT Serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: -16px;
    margin-left: 24px;
}


.guestion-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-line-decor {
    width: 1110px;
    height: 1px;
    background: #9B9B9B;
}

.footer-subbox {
    display: flex;
    justify-content: space-between;
}